//
   Created by MaoX on 2016/2/29.

.panel.panel-default
    .panel-heading
            .panel-title.text-center 个人中心
    .panel-body
        ul.nav.nav-pills.nav-stacked
            li
                a(href="/user/info")
                    span.glyphicon.glyphicon-user &nbsp;个人信息
                a(href="/user/changePassword")
                    span.glyphicon.glyphicon-user &nbsp;修改密码