//
   Created by MaoX on 2016/2/29.

extends ../../layout

block content
    .container
        .row
            .col-sm-2
                include ../../includes/userMenu
            .col-sm-10
                .panel.panel-default
                    .panel-heading
                        span.panel-title #{title}
                    .panel-body
                        form.form-horizontal(method="post",action="/user/changePassword")
                            .form-group
                                label.col-sm-2.control-label(for="oldPassword") 原密码
                                .col-sm-10
                                    input#oldPassword.form-control(type="text",name="password[old]")
                            .form-group
                                label.col-sm-2.control-label(for="newPassword") 新密码
                                .col-sm-10
                                    input#newPassword.form-control(type="text",name="password[new]")
                            .form-group
                                label.col-sm-2.control-label(for="confirmPassword") 重复新密码
                                .col-sm-10
                                    input#confirmPassword.form-control(type="text",name="password[confirm]")
                            hr
                            .form-group
                                .col-sm-offset-2.col-sm-10
                                    button.btn.btn-primary(type="submit" ) 提交