//
   Created by MaoX on 2016/2/29.

extends ../../layout

block content
    .container
        .row
            .col-sm-2
                include ../../includes/userMenu
            .col-sm-10
                .panel.panel-default
                    .panel-heading
                        span.panel-title #{title}
                    .panel-body
                        dl.dl-horizontal
                        dt 用户名
                        dd=user.name
                        dt 手机号
                        dd=user.phone
                        dt 角色权限
                        dd=user.role
                        hr
                        a.btn.btn-primary(href="/user/edit")
                            span.glyphicon.glyphicon-edit
                            span &nbsp;编辑